@font-face
  font-family: 'Proxima Nova Bold'
  src: url('../fonts/proximanova-bold.woff2') format('woff2'),
  url('../fonts/proximanova-bold.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Proxima Nova Light'
  src: url('../fonts/proximanova-light.woff2') format('woff2'),
  url('../fonts/proximanova-light.woff') format('woff')
  font-weight: normal
  font-style: normal

//Colors
$red: #FF1E00
$base: #686565
$accent: #3D393A
$black: #242424
$white: #fff
$buttonWhite: #F5F8F6
$yellow: #FFB873
$sectionBg: #EFF1F0
$blue: #038BAB
$sectionDarkBg: #DDDEDE
$arrows: #C3C4C4

//Mixins
@mixin redText
  color: $red
  font-size: 21px

@mixin button
  display: inline-block
  font-family: 'Proxima Nova Bold', sans-serif
  text-transform: uppercase
  padding: 20px 40px 15px 40px
  background-color: $red
  color: $white
  border: 2px solid $red
  border-radius: 3px
  transition: all .2s
  cursor: pointer
  margin: 0 10px
  &:hover
    background-color: $buttonWhite
    color: $red

@mixin buttonInverse
  @include button
  background-color: $buttonWhite
  color: $red
  border: 2px solid $red
  &:hover
    background-color: $red
    color: $white

@mixin subTitle
  font-size: 24px
  margin-bottom: 50px
  @media screen and (max-width: 575px)
    font-size: 20px

@mixin arrow_list
  list-style: none
  padding: 35px 20px
  li
    padding-left: 20px
    margin-bottom: 35px
    position: relative
    color: $black
    svg
      position: absolute
      top: 7px
      left: -5px
@mixin slickArrows
  .slick-arrow
    width: 55px
    height: 55px
    border-radius: 2px
    transition: all .2s
    &:before
      content: ''
      position: absolute
      left: 28%
      top: 28%
      background-image: url('../img/arrow.png')
      background-repeat: no-repeat
      background-size: cover
      width: 40%
      height: 43%
  .slick-next
    transform-origin: 55% 25%
    transform: rotate(-180deg)
    right: -50px
    @media screen and (max-width: 1280px)
      right: -30px
  .slick-prev
    left: -50px
    @media screen and (max-width: 1280px)
      left: -30px

@mixin form
  padding: 0 40px
  color: $black
  @media screen and (max-width: 991px)
    padding: 50px
    text-align: center
  @media screen and (max-width: 575px)
    margin: 0 auto
    width: 100%
    padding: 25px 0
  input
    display: block
    width: 100%
    border: 3px solid #DCDCDC
    border-radius: 5px
    padding: 25px
    margin-bottom: 8px
    &:focus
      outline: none
  textarea
    display: block
    width: 100%
    border: 3px solid #DCDCDC
    border-radius: 5px
    padding: 25px
    margin-bottom: 8px
    resize: none
    &:focus
      outline: none
  .button
    @include button
    margin: 0
    &:focus
      outline: none


//Layout
body
  font-family: 'Proxima Nova Light', sans-serif
  font-size: 16px
  color: $base
  background-color: $white

section
  padding: 50px 0
  @media screen and (max-width: 575px)
    padding: 25px 0

h3
  text-transform: uppercase
  font-size: 30px
  color: $accent
  text-align: center
  margin-bottom: 20px
  @media screen and (max-width: 1199px)
    br
      display: none
  @media screen and (max-width: 575px)
    font-size: 24px
  span
    font-family: 'Proxima Nova Bold', sans-serif

h4
  text-transform: uppercase
  font-size: 24px
  color: $base
  text-align: center
  @media screen and (max-width: 575px)
    font-size: 20px

p
  @media screen and (max-width: 1199px)
    br
      display: none

.divider
  margin: 35px auto
  width: 130px
  height: 8px
  background-color: $yellow

.hidden
  display: none

//Header
.header
  padding-top: 60px
  padding-bottom: 300px
  text-align: center
  background-image: url('../img/bg-header.jpg')
  background-position: center center
  background-size: cover
  @media screen and (max-width: 991px)
    padding-top: 40px
    padding-bottom: 100px
  @media screen and (max-width: 575px)
    padding-top: 25px
    padding-bottom: 25px
  .redText
    @include redText
    margin-bottom: 30px
    @media screen and (max-width: 575px)
      margin-bottom: 20px
  .date
    font-size: 18px
    color: $accent
    margin-bottom: 20px
    @media screen and (max-width: 575px)
      margin-bottom: 10px
  .description
    font-size: 18px
    margin-bottom: 0
  h1
    font-family: 'Times New Roman', serif
    font-size: 72px
    text-transform: uppercase
    color: $black
    margin: 50px 0 30px 0
    @media screen and (max-width: 575px)
      font-size: 60px
      margin: 30px 0 10px 0
  .subTitle
    @include subTitle
  .button
    @include button
    @media screen and (max-width: 991px)
      display: block
      width: 250px
      margin: 10px auto
  .button_inverse
    @include buttonInverse
    @media screen and (max-width: 991px)
      display: block
      width: 250px
      margin: 20px auto

@include slickArrows

.up_button
  display: none
  position: fixed
  right: 10px
  bottom: 10px
  background-color: $red
  border-radius: 3px
  border: 2px solid $red
  width: 65px
  height: 65px
  transition: background-color .2s
  text-align: center
  cursor: pointer
  z-index: 99
  @media screen and (max-width: 991px)
    z-index: -99
  svg
    margin-top: 20px
    width: 60%
    transform: rotate(-90deg)
  &:hover
    background-color: transparent
    .cls-up
      transition: all .2s
      fill: $red

#taroPlan
  .modal-dialog
    border: 10px solid #DCDCDC
    border-radius: 3px
    @media screen and (min-width: 992px)
      max-width: 900px
    .modal-content
      border: none
      border-radius: 0
      .modal-header
        justify-content: flex-end;
        padding: 18px 18px 0 0
        border: none
      .modal-body
        padding-top: 0
        form
          @include form
          text-align: center
          width: 350px
          padding: 0
          margin: 0 auto
          @media screen and (max-width: 575px)
            width: auto
        p
          margin-top: 30px
.modal-backdrop
  background-color: transparent


//About
.about
  background-color: #EFF1F0
  .block_wrapper
     margin-bottom: 20px
     .block_item
       box-shadow: 3px 3px 30px 2px rgba(0, 0, 0, 0.2)
       background-color: $white
       height: 100%
       img
         width: 100%
         height: auto
       .caption
         display: block
         text-align: center
         padding: 20px 5px
         margin-bottom: 0


//Introduction
.introduction
  background-color: $white
  .pic_block
    padding: 0 75px 0 35px
    @media screen and (max-width: 1199px)
      padding: 0
    img
      width: 100%
      height: auto
      @media screen and (max-width: 991px)
        width: 45%
        display: block
        margin: 0 auto
      @media screen and (max-width: 575px)
        width: 90%
  .text_block
    margin-left: -15px
    padding-top: 20px
    @media screen and (max-width: 991px)
      margin-left: 0
    .name
      @include subTitle
      margin: 0
    .description
      margin: 20px 0
  .subTitle
    @include subTitle
    text-align: center
    margin-top: 45px

//Targets
.targets
  background-color: #EFF1F0
  .study_wrapper
    &:first-of-type
    @media screen and (max-width: 767px)
      margin-bottom: 30px
    .study_item
      background-color: $white
      height: 100%
      box-shadow: 3px 3px 30px 2px rgba(0, 0, 0, 0.2)
      .item_header
        background-color: $blue
        h3
          display: block
          color: $white
          padding: 25px 0
          margin: 0
      img
        width: 100%
        height: auto
      .study_caption
        @include arrow_list




//Reviews
.reviews
  background-color: #DDDEDE
  @media screen and (max-width: 991px)
    padding-bottom: 75px
  @media screen and (max-width: 575px)
    padding-bottom: 65px
  #slick_slider
    margin-top: 45px
    padding: 0 25px
    height: 100%
    @media screen and (max-width: 1280px)
      width: 95%
      margin: 0 auto
      margin-top: 45px
    @media screen and (max-width: 575px)
      width: 100%
      padding: 0
    .slick-track
      display: flex
    .slide
      padding: 0 5px
      display: flex
      flex-wrap: wrap
      height: auto
      position: relative
      @media screen and (max-width: 991px)
        background-color: $white
        padding: 0
        align-content: flex-start
      .img_block
        width: 30%
        @media screen and (max-width: 1280px)
          width: 35%
        @media screen and (max-width: 1199px)
          width: 50%
        @media screen and (max-width: 991px)
          width: 100%
        img
          width: auto
          height: 100%
          @media screen and (max-width: 991px)
            width: 100%
            height: auto
      .text_block
        height: 100%
        width: 70%
        padding: 30px
        padding-bottom: 20px
        background-color: $white
        @media screen and (max-width: 1280px)
          width: 65%
        @media screen and (max-width: 1199px)
          width: 50%
        @media screen and (max-width: 991px)
          height: inherit
          width: 100%
          padding-bottom: 90px
        @media screen and (max-width: 575px)
          padding: 15px 15px 90px 15px
        p
          font-style: italic
          line-height: 150%
        .name
          color: $black
          font-style: normal
        img
          position: absolute
          right: 20px
          bottom: 20px
    .slick-arrow
      background-color: $arrows
      &:hover
        background-color: darken($arrows, 5%)
    .slick-dots
      bottom: -45px
      width: 90%
      @media screen and (max-width: 575px)
        width: 100%
      li
        margin: 0 15px
        button
          &:before
            font-size: 25px
            @media screen and (max-width: 575px)
              font-size: 15px

//Selling
.selling
  background-color: $white
  .taro_wrapper
    padding-left: 5px
    padding-right: 5px
    @media screen and (max-width: 991px)
      margin-bottom: 25px
      padding-left: 15px
      padding-right: 15px
  .taro_item
    background-color: $white
    border: 1px solid #D1D1D1
    border-top: none
    height: 100%
    display: flex
    flex-direction: column
    .taro_header
      text-align: center
      background-color: $blue
      font-size: 24px
      color: $white
      padding: 5px 0
      margin-left: -1px
      margin-right: -1px
      .item_name
        font-family: 'Proxima Nova Bold', sans-serif
        margin: 0
      .time
        font-family: 'Proxima Nova Light', sans-serif
        margin: 0
    .taro_description
      list-style: none
      padding: 0 10px 15px 25px
      margin: 0
      margin-bottom: auto
      li
        font-size: 14px
        color: $black
        margin: 15px 0
        position: relative
        &:last-child
          margin-bottom: 0
        &:before
          content: ''
          position: absolute
          width: 6px
          height: 6px
          background-color: $yellow
          top: 7px
          left: -14px
    .bonus_wrapper
      width: 100%
      margin-top: auto
      display: flex
      flex-direction: column
      justify-content: flex-end
      height: 520px
      @media screen and (max-width: 1199px)
        height: 40%
      @media screen and (max-width: 767px)
        height: auto
      .bonus_button
        font-family: 'Proxima Nova Bold', sans-serif
        text-transform: uppercase
        color: $white
        background-color: $yellow
        padding: 12px 5px 12px 20px
        margin-left: -1px
        margin-right: -1px
        cursor: pointer
        position: relative
        transition: all .2s
        &:hover
          background-color: darken($yellow, 5%)
        img
          margin-right: 15px
          display: inline-block
          vertical-align: sub
        span
          width: 100%
        .b_arrow
          width: 18px
          height: 9px
          position: absolute
          top: 20px
          right: 10px
          transition: all .2s
      .active
        .b_arrow
           transform: rotate(-90deg)
      .bonus_description
        background-color: $white
      .price_block
        text-align: center
        font-size: 18px
        color: $black
        padding-top: 25px
        background-color: $white
        p
          margin: 0
        p:nth-last-of-type(2)
          text-decoration: line-through
        p:last-of-type
          font-family: 'Proxima Nova Bold', sans-serif
          font-size: 24px
        .button
          @include button
          margin: 30px 0 35px 0
          padding-left: 30px
          padding-right: 30px

//Tasks
.tasks
  background-color: #EFF1F0
  .task_wrapper
    padding-left: 10px
    padding-right: 10px
    @media screen and (max-width: 991px)
      margin-bottom: 25px
  .task_item
    background-color: $white
    height: 100%
    box-shadow: 3px 3px 30px 2px rgba(0, 0, 0, 0.2)
    .task_header
      display: flex
      justify-content: space-between
      padding: 15px 25px 10px 40px
      h5
        font-family: 'Proxima Nova Bold', sans-serif
        font-size: 30px
        text-transform: uppercase
        margin: 0
        color: $black
    hr
      margin: 0 auto
      width: 95%
      height: 1px
      background-color: #EFF1F0
    .task_list
      @include arrow_list
      margin: 0
      padding: 15px 5px 15px 20px
      li
        margin: 15px 0

//Results
.results
  background-color: $white
  text-align: center
  #video_slider
    margin: 45px 0
    padding: 0 25px
    @media screen and (max-width: 1280px)
      width: 95%
      margin: 45px auto
    @media screen and (max-width: 767px)
      padding: 0
    @media screen and (max-width: 575px)
      width: 100%
      padding: 0
    .slick-arrow
      background-color: $yellow
      &:hover
        background-color: darken($yellow, 5%)
    .slider_item
      padding: 0 25px
      @media screen and (max-width: 767px)
        padding: 0
      .vid_wrapper
        position: relative
        height: 0
        width: 100%
        padding-bottom: 56.25%
        iframe
          background-image: url('../img/video_img.jpg')
          background-size: cover
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
    .slick-dots
      bottom: -45px
      width: 90%
      @media screen and (max-width: 575px)
        width: 100%
      li
        margin: 0 15px
        button
          &:before
            font-size: 25px
            @media screen and (max-width: 575px)
              font-size: 15px
          &:hover, &:focus
            &:before
              color: darken($yellow, 5%)
      .slick-active
        button
          &:before
            color: $yellow

  .slider_text
    font-size: 20px
    color: #2E2E2E
    margin-bottom: 40px
  .button
    @include button
  hr
    height: 1px
    background-color: #D7D7D7
    margin: 50px auto
  .guarantee
    padding-left: 180px
    text-align: left
    background-image: url('../img/medal.png')
    background-repeat: no-repeat
    background-position: left
    @media screen and (max-width: 575px)
      background-position: center top
      padding-left: 0
      padding-top: 180px

//Questions
.questions
  background-color: #EFF1F0
  h3
    margin-bottom: 50px
  .ask_item
    height: 100%
    img
      display: block
      margin: 0 auto
      height: 100%
      width: auto
      @media screen and (max-width: 575px)
        width: 80%
        height: auto
    .screen-reader-response
      display: none
    form
      @include form
      br
        display: none
      textarea
        height: 90px
      input[type='submit']
        @include button
        display: inline-block
        width: auto
        margin: 0 0 30px 0

//Footer
.footer
  background-color: $white
  .name
    @include redText
  .footer_item
    text-align: center
    display: flex
    justify-content: space-between
    align-items: flex-end
    @media screen and (max-width: 767px)
      flex-direction: column
      align-items: flex-start
      margin-top: 10px
    p
      margin-bottom: 12px
      @media screen and (max-width: 767px)
        margin-bottom: 8px
    a
      margin-bottom: 12px
      @media screen and (max-width: 767px)
        margin-bottom: 8px
      color: $black
      text-decoration: underline
      &:focus
        outline: none

.subpage
  font-family: sans-serif
  font-size: 16px
  padding: 50px 15%
  @media screen and (max-width: 767px)
    font-size: 14px
    padding: 30px 0
  h4
    margin: 1.5rem 0
    text-align: left

.wpcf7-not-valid-tip
  color: red


